@page "/bioauth"
@inject IAuthenticatorService Auth

<div style="padding: 30px;">
    <h1 style="font-size: 24px;">Biometric Authentication</h1>
    <button @onclick="Authenticate">Authenticate</button>
</div>

@code {
    async Task Authenticate()
    {
        var ok = await Auth.AuthenticateAsync();
        if (ok)
        {
            await Shell.Current.GoToAsync("/wallet");
        }
    }
}