@page "/login"
@using JPYCOffline.ViewModels
@inject LoginViewModel VM

<div style="padding: 30px;">
    <h1 style="font-size: 24px; text-align: center;">JPYC Wallet Login</h1>
    <input placeholder="Username" @bind-value="VM.Username" />
    <input placeholder="Password" type="password" @bind-value="VM.Password" />
    <button @onclick="@VM.OnSignInAsync">Sign In</button>
    <button @onclick='@(() => Shell.Current.GoToAsync("/signup"))'>Sign Up</button>
    <button @onclick='@(() => Shell.Current.GoToAsync("/passcode"))'>Use Passcode</button>
</div>